@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=VT323');

.top-bg {
    background: url("images/bg1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text-center {
  padding: 100px 0px 0px 0px;
}

.navbar-default {
	background: rgba(66, 134, 244, 0.9);
  margin-bottom: 0 !important;
}

.navbar-fixed-top {
  background: rgba(66, 134, 244, 0.9);
  margin-bottom: 0 !important;
}

.nav-icon {
   padding: 0px 0px 5px 0px;
   margin-bottom: 0 !important;
}

.name {
	font-size: 45px;
	font-family: "Francois One", Arial;
  color: #ffffff;
	text-align: center;
	padding-bottom: 0px;
}

.header {
  font-size: 45px;
  font-family: "Francois One", Arial;
  color: #000000;
  text-align: center;
  padding-bottom: 0px;
}

.subhead {
	font-size: 30px;
  color: #ffffff;
	font-family: "VT323", Arial;
	text-align: center;
}

.GO-text {
  position: absolute;
  font-size: 30px;
  color: #ffffff;
  font-family: "VT323", Arial;
  text-align: center;
  top: -0.5em;
  left: 0.68em;
}

.intro {
  position: relative;
  padding: 3em;
}

.intro-text {
  text-align: center;
  font-size: 20px;
  padding: 1.5em;
  color: #000000;
}

/*SCROLL ARROW CSS BELOW. CREDIT TO ROBSAWYER.ME

/* the wrapper element that will become the outer circle */
.arrow-wrap {
  position:relative;
  z-index:1;
  left:50%;
  top: 5em;
  margin-left:-5em;
  background:#111;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 5px 0px #333;
}

/* a triangle to make the main part of the arrow. Adjust the border-color to fit your needs */
.arrow {
  float:left;
  position:absolute;
  top: 5.5em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg);/* added for better anti-aliasing on webkit browsers */
}

/* a pseudo element arrow placed on top of the other one with the same color as the wrapper */
.arrow:after {
  content:'';
  position:absolute;
  top:-4em;
  left:-3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #111 transparent transparent transparent;
  -webkit-transform:rotate(360deg);/* added for better anti-aliasing on webkit browsers */
}